/* Default styles for the logo */
.logo {
  width: 100px; /* Adjust as needed */
  height: auto;
}

/* Styles for light mode */
@media (prefers-color-scheme: light) {
  .logo {
    content: url('.github/assets/images/readme/cncf-white.svg');
  }
}

/* Styles for dark mode */
@media (prefers-color-scheme: dark) {
  .logo {
    content: url('.github/assets/images/readme/cncf-black.svg');
  }
}
